In [87]:
# !pip install scikit-learn pandas numpy matplotlib seaborn

In [88]:
import pandas as pd
import numpy as np

training_var = pd.read_csv("/Users/anukulchandra/Python_with_machine_learning_ESPML_2405/Personalized_Cancer_Prediction-Doctor_Side-/training_variants")
training_text = pd.read_csv("/Users/anukulchandra/Python_with_machine_learning_ESPML_2405/Personalized_Cancer_Prediction-Doctor_Side-/training_text", sep="\|\|", engine='python', header=None, names=["ID", "Text"], skiprows=1)   


test_var = pd.read_csv("/Users/anukulchandra/Python_with_machine_learning_ESPML_2405/Personalized_Cancer_Prediction-Doctor_Side-/test_variants")
test_text = pd.read_csv("/Users/anukulchandra/Python_with_machine_learning_ESPML_2405/Personalized_Cancer_Prediction-Doctor_Side-/test_text", sep="\|\|", engine='python', header=None, names=["ID", "Text"], skiprows=1)

<>:5: SyntaxWarning: invalid escape sequence '\|'
<>:9: SyntaxWarning: invalid escape sequence '\|'
<>:5: SyntaxWarning: invalid escape sequence '\|'
<>:9: SyntaxWarning: invalid escape sequence '\|'
/var/folders/jf/21x3yjzs0ygd_0ttzq2sq0zm0000gn/T/ipykernel_54731/3299675375.py:5: SyntaxWarning: invalid escape sequence '\|'
  training_text = pd.read_csv("/Users/anukulchandra/Python_with_machine_learning_ESPML_2405/Personalized_Cancer_Prediction-Doctor_Side-/training_text", sep="\|\|", engine='python', header=None, names=["ID", "Text"], skiprows=1)
/var/folders/jf/21x3yjzs0ygd_0ttzq2sq0zm0000gn/T/ipykernel_54731/3299675375.py:9: SyntaxWarning: invalid escape sequence '\|'
  test_text = pd.read_csv("/Users/anukulchandra/Python_with_machine_learning_ESPML_2405/Personalized_Cancer_Prediction-Doctor_Side-/test_text", sep="\|\|", engine='python', header=None, names=["ID", "Text"], skiprows=1)

In [89]:
training_var.head(2)

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2

In [90]:

training_text.head(2)

   ID                                               Text
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...

In [91]:


print("training var : ")
print("shape :",training_var.shape)
print("coloumns :",training_var.columns)

print("training text :")
print("shape:",training_text.shape)
print("coloumns: ",training_text.columns)

training var :
shape : (3321, 4)
coloumns : Index(['ID', 'Gene', 'Variation', 'Class'], dtype='object')
training text :
shape: (3321, 2)
coloumns:  Index(['ID', 'Text'], dtype='object')

In [92]:
test_var.head(2)

   ID   Gene Variation
0   0  ACSL4     R570S
1   1  NAGLU     P521L

In [93]:
test_text.head(2)

   ID                                               Text
0   0  2. This mutation resulted in a myeloproliferat...
1   1   Abstract The Large Tumor Suppressor 1 (LATS1)...

In [94]:


print("test var : ")
print("shape :",test_var.shape)
print("coloumns :",test_var.columns)

print("test text :")
print("shape:",test_text.shape)
print("coloumns: ",test_text.columns)

test var :
shape : (5668, 3)
coloumns : Index(['ID', 'Gene', 'Variation'], dtype='object')
test text :
shape: (5668, 2)
coloumns:  Index(['ID', 'Text'], dtype='object')

In [95]:
df_train = pd.merge(training_var, training_text, on="ID", how="left")
df_test = pd.merge(test_var, test_text, on="ID", how="left")

In [96]:
df_train.head(2)

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating Mutations,1,Cyclin-dependent kinases (CDKs) regulate a var...
1,1,CBL,W802*,2,Abstract Background Non-small cell lung canc...

In [97]:
df_test.head(2)

   ID   Gene Variation                                               Text
0   0  ACSL4     R570S  2. This mutation resulted in a myeloproliferat...
1   1  NAGLU     P521L   Abstract The Large Tumor Suppressor 1 (LATS1)...

In [98]:
print('Train :')
print(df_train.isnull().sum())

print("\n")
print('Test :')
print(df_test.isnull().sum())

Train :
ID           0
Gene         0
Variation    0
Class        0
Text         5
dtype: int64


Test :
ID           0
Gene         0
Variation    0
Text         1
dtype: int64

In [99]:
df_train.dropna(inplace=True)
df_test.dropna(inplace=True)

In [100]:
print("after dropping null values")
print('Train :')
print(df_train.isnull().sum())

print("\n")
print('Test :')
print(df_test.isnull().sum())

after dropping null values
Train :
ID           0
Gene         0
Variation    0
Class        0
Text         0
dtype: int64


Test :
ID           0
Gene         0
Variation    0
Text         0
dtype: int64

In [101]:
print("duplicate check")
print('Train :', df_train.duplicated().sum())
print('Test :', df_test.duplicated().sum())

duplicate check
Train : 0
Test : 0

In [102]:
print("Value counts of target variable :")
print("train :")
print(df_train['Class'].value_counts())

# Visualization of target variable

Value counts of target variable :
train :
Class
7    952
4    686
1    566
2    452
6    273
5    242
3     89
9     37
8     19
Name: count, dtype: int64

# Data Preprocessing & Cleaning

In [103]:
# pip install nltk

In [104]:
import nltk

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Error loading punkt: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1000)>
[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1000)>
[nltk_data] Error loading wordnet: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1000)>
[nltk_data] Error loading omw-1.4: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1000)>

False

In [105]:
!pip install --upgrade pip

Requirement already satisfied: pip in ./venv/lib/python3.12/site-packages (25.2)

In [106]:
import re
import time
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

def nlp_preprocessing(text):
    if isinstance(text, str):
        # Remove special characters and extra spaces, convert to lowercase
        text = re.sub('[^a-zA-Z0-9\s]', ' ', text).lower()
        text = re.sub('\s+', ' ', text).strip()
        # Remove stop words
        words = [word for word in text.split() if word not in stop_words]
        return ' '.join(words)
    return ""

start_time = time.time()

df_train['Text'] = df_train['Text'].apply(nlp_preprocessing)
df_test['ext'] = df_test['Text'] .apply(nlp_preprocessing)

print("Time taken for preprocessing:", time.time() - start_time, "seconds")

<>:10: SyntaxWarning: invalid escape sequence '\s'
<>:11: SyntaxWarning: invalid escape sequence '\s'
<>:10: SyntaxWarning: invalid escape sequence '\s'
<>:11: SyntaxWarning: invalid escape sequence '\s'
/var/folders/jf/21x3yjzs0ygd_0ttzq2sq0zm0000gn/T/ipykernel_54731/553615039.py:10: SyntaxWarning: invalid escape sequence '\s'
  text = re.sub('[^a-zA-Z0-9\s]', ' ', text).lower()
/var/folders/jf/21x3yjzs0ygd_0ttzq2sq0zm0000gn/T/ipykernel_54731/553615039.py:11: SyntaxWarning: invalid escape sequence '\s'
  text = re.sub('\s+', ' ', text).strip()

Time taken for preprocessing: 24.806436777114868 seconds

In [107]:
df_train['Text'].head(5)

0    cyclin dependent kinases cdks regulate variety...
1    abstract background non small cell lung cancer...
2    abstract background non small cell lung cancer...
3    recent evidence demonstrated acquired uniparen...
4    oncogenic mutations monomeric casitas b lineag...
Name: Text, dtype: object

In [108]:
df_test['Text'].head(5)

0    2. This mutation resulted in a myeloproliferat...
1     Abstract The Large Tumor Suppressor 1 (LATS1)...
2    Vascular endothelial growth factor receptor (V...
3    Inflammatory myofibroblastic tumor (IMT) is a ...
4     Abstract Retinoblastoma is a pediatric retina...
Name: Text, dtype: object

In [109]:
df= df_train.copy()

In [110]:
df.head(2)

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating Mutations,1,cyclin dependent kinases cdks regulate variety...
1,1,CBL,W802*,2,abstract background non small cell lung cancer...

In [111]:
df['Gene'] = df['Gene'].str.replace(r'\s+', '_', regex=True)
df['Variation'] = df['Variation'].str.replace(r'\s+', '_', regex=True)

In [112]:
df.head(2)

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating_Mutations,1,cyclin dependent kinases cdks regulate variety...
1,1,CBL,W802*,2,abstract background non small cell lung cancer...

In [113]:
# df.drop('clean_Text', axis=1, inplace=True)

In [114]:
df.head(2)

,ID,Gene,Variation,Class,Text
0,0,FAM58A,Truncating_Mutations,1,cyclin dependent kinases cdks regulate variety...
1,1,CBL,W802*,2,abstract background non small cell lung cancer...

In [115]:
x =df.drop('Class', axis=1)
y = df['Class']

In [117]:
x.head(2)

,ID,Gene,Variation,Text
0,0,FAM58A,Truncating_Mutations,cyclin dependent kinases cdks regulate variety...
1,1,CBL,W802*,abstract background non small cell lung cancer...

In [118]:
y.head(2)

0    1
1    2
Name: Class, dtype: int64

# train-test Spilit

In [120]:
from sklearn.model_selection import train_test_split    
# train-test Spilit
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42,stratify=y)
# for cross validation splits
train_cv,test_cv,train_y_cv,test_y_cv = train_test_split(x_train,y_train,test_size=0.25,random_state=42,stratify=y_train)

In [122]:
# shape of Cross validdation 
print("shape of Cross validdation :")
print("Cv train shape :",train_cv.shape)
print("Cv test shape :",test_cv.shape)
print("Cv train y shape :",train_y_cv.shape)
print("Cv test y shape :",test_y_cv.shape)

shape of Cross validdation :
Cv train shape : (1989, 4)
Cv test shape : (663, 4)
Cv train y shape : (1989,)
Cv test y shape : (663,)

In [123]:
train_cv.head(2)

        ID  Gene Variation                                               Text
3277  3277   RET     D631A  mutations aspartic acid 631 ret reported spora...
1435  1435  SPOP      Y87C  largest e3 ligase subfamily cul3 binds btb dom...